body {
    background-color:gray; 
    margin: 10px ;
}
header{
    width: 1328px;
    height: 60px;
    background: #f7f7f7;
    margin: 10px;
    
}
section{
    width: 1328px;
    height: 500px;
    background: white;
    margin: 10px;
}
footer{
    width: 1328px;
    height: 60px;
    background: white;
    margin: 10px;
    padding:10px ;
}
.shadow{
    border-radius: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
